@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form runat="server" style="display: flex;" method="post">
        <input type="text" placeholder="Enter city." class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="city">
        <button type="submit" class="btn btn-primary">Get Data</button>  
    </form>
    @if (Model.Weather != null)
    {
        <partial name="Shared/_cardPartial" model="Model.Weather"/>
    }
</div>
