#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.modal-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  animation: show 1s linear;
}

input{
  border: unset;
  border-radius: 10px;
  padding: 0 0 0 10px;
  height: 40px;
}

input:active{
  border: unset;
}

.modal {
  position: relative;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: black;
  border: 2px solid white;
  animation: showModal 1s linear;
}

.modal .closedModal {
  position: absolute;
  right: 20px;
  top: 20px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

ul{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
