@model Data

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Weather</h5>
        <p class="card-text">Temperature: @Model.Temp</p>
        <p class="card-text">Max Temperature: @Model.Max_temp</p>
        <p class="card-text">Min Temperature: @Model.Min_temp</p>
        <p class="card-text">Wind Speed: @Model.Wind_speed</p>
    </div>
</div>