.listening{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    transition: 0.5s all;
    border-radius: 50%;
}

.listening:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s all;
}

.inactive{
    background-color: rgb(48, 0, 0);
    transition: 0.5s all;
}

.active{
    background-color: rgb(255, 0, 0);
    transition: 0.5s all;
}

.recognized{
    overflow-y: scroll;
    overflow-wrap: normal;
    text-align: start;
}